/* FROM APP */
body, html {
    margin: 0px;
    padding: 0px;
  }
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }
  #app {
    font-family: Roboto, sans-serif;
    color: #2c3e50;
  
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh;
  }
  .headerfade-enter, .headerfade-leave-to {
    opacity: 0;
    transform: translateY(-100px);
  }
  .headerfade-enter-active {
    transition: all 0.5s;
  }
  .headerfade-leave-active {
    transition: all 0s;
  }
  .emptyheader {
    height: 75px;
    background-color: black;
  }
  .pagetitle {
    font-size: 40px;
    font-weight: 550;
    text-transform: uppercase;
  }
  button {
    border-radius: 3px;
    border: 1px solid #333;
    padding: 3px;
    cursor: pointer;
    background-color: white;
    height: 30px;
  }

  /* FROM HOME */
  .wrapper {
    margin-top: 75px;
  }
  .titlecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 50px;
    font-weight: 550;
  }
  .navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headerlink {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: solid black 1px;
    margin: 10px;
  }

  /* FROM HEADER */
  #navbar {
    display: grid;
    grid-template-columns: auto 1fr;
  
    height: auto;
  
    background-color: black;
    color: white;
  }

   .navbar-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  }
   .navbar-headerlink {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: solid white 1px;
  }
  .navbar-homelink{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
  #navbar h1 {
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 20px 0 20px 10px;
    text-transform: uppercase;
  }

  .page-wrapper {
    text-align: center;
  }

/* FROM FILEUPLOADER */
div {
    text-align: center;
  }

.FU-container {
    display: block;
    justify-content: center;
  }

  input {
    margin: 5px;
  }

  label {
    margin: 5px;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    border-radius: 3px;
    border: 1px solid #333;
    padding: 3px;
    cursor: pointer;
    height: 30px;
  }

  .fileItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .FU-button {
    border-radius: 3px;
    border: 1px solid #333;
    padding: 3px;
    cursor: pointer;
    background-color: white;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .filename {
    margin-right: 20px;
    font-weight: 500;
  }

  /* FROM SOURCE */
  div {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: top;
  }
  button {
    margin-left: 20px;
  }
  h1 {
    font-weight: 550;
  }

  /* FROM SOURCELIST */
  .job-card {
    padding: 0px;
    margin-bottom: 20px;
    transition: all 0.2s linear;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
  }
  .job-card:after {
    content: "";
    display: block;
    width: 75%;
    margin: 1em auto 0;
    border-bottom: solid black 1px;
  }
  .job-card:hover {
    transform: scale(1.01);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 12px 0 rgba(0, 0, 0, 0.2);
  }
  .link {
    text-decoration: none;
    color: black;
  
    display: flex;
    justify-content: center;
  }