<PaperToolbar id="navbar">
    <PaperToolbarTools>
        <LinkTo @route="index" id="homelink"> <h1>Shmdoc</h1> </LinkTo>
        <span class="flex"></span>
        <PaperButton><LinkTo @route="running-jobs">Running jobs</LinkTo></PaperButton>
        <PaperButton><LinkTo @route="sources">Sources</LinkTo></PaperButton>
    </PaperToolbarTools>
</PaperToolbar>


