<div id="navbar">
    <LinkTo @route="index" class="navbar-homelink">
        <h1>Shmdoc</h1>
    </LinkTo>
    <div class="navbar-navigation">
        <LinkTo @route="new-job" class="navbar-headerlink">New Analysis</LinkTo>
        <LinkTo @route="running-jobs" class="navbar-headerlink">Running Analyses</LinkTo>
        <LinkTo @route="sources" class="navbar-headerlink">Sources</LinkTo>
    </div>
</div>
