<h3>{{if noContent "No analyses running, or they are starting"}}</h3>

{{#each this.runningJobs as |job|}}
    {{#unless job.finished}}
      <div class="wrapper">
          <div class="runningJobItem">
            <h4 class="running">{{job.id}}</h4>
            {{!-- <LoadAnimation/> --}}
          </div>
          {{!-- <span>{{created(job)}}</span> --}}
          {{!-- <button v-on:click="stopJob(job)">Stop</button> --}}
        </div>
    {{/unless}}
{{/each}}