  <div>
    {{}}
      <router-link :to="{ name: 'source', params: {id: source.id} }" class="link">
        <div class='job-card'>
          <span>{{source.attributes.name}}</span>
        </div>
      </router-link>
    </div>
  </div>