<div>
  {{#each @sources as |source|}}
    <LinkTo @route="sources.show" @model={{source}} class="link">
      <div class='job-card'>
        <span>{{source.name}}</span>
      </div>
    </LinkTo>
  {{/each}}
</div>