<div class="container">
      {{#unless this.sourceIsNull}}
            <h1>SOURCE "{{@model.name}}"</h1>
      {{/unless}}
      {{!-- <button {{on "click" addAnalysis}}>Add Analysis</button> --}}
</div>
{{!-- <JobListItem v-for="job in jobs" v-bind:key='job.id' :job='job'>{{job}}</JobListItem> --}}