<div class="wrapper">
    <div class="titlecontainer">
        <h1>SHMDOC</h1>
    </div>

    <div class="navigation">
        <LinkTo @route="newJob" class="headerlink">New Analysis</LinkTo>
        <LinkTo @route="runningJobs" class="headerlink">Running Analyses</LinkTo>
        <LinkTo @route="sources" class="headerlink">Sources</LinkTo>
    </div>
</div>